<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Keithley_Log.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
		<Keithley_Log.Properties.Settings>
			<setting name="dc1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="dc2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="dc3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="ac1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="ac2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="ac3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="dci1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="dci2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="dci3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="aci1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="aci2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="aci3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="o1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="o2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="o3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="oo1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="oo2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="oo3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="fre1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="fre2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="fre3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="temp1" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="temp2" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="temp3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="baud" serializeAs="String">
				<value>19200</value>
			</setting>
			<setting name="zaman" serializeAs="String">
				<value>340</value>
			</setting>
			<setting name="sayac" serializeAs="String">
				<value>5</value>
			</setting>
		</Keithley_Log.Properties.Settings>
	</userSettings>
</configuration>
